<div class="card my-4">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam sunt maiores atque vero maxime voluptatum iste, molestiae id veniam totam. Quos corrupti mollitia, saepe, consectetur laborum temporibus quia sed dolorum natus recusandae harum ut atque, voluptatibus provident sequi hic pariatur!</p>
    </div>
</div>