<div class="jumbotron my-4 p-3 bg-light">
    <h1 class="display-4">Task List with Node and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores dolore assumenda facilis eum asperiores aliquam blan</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid pariatur ut excepturi quibusdam atque, molestiae minima harum sapiente blanditiis! Dolore pariatur eius nesciunt cum, quod itaque asperiores consectetur voluptate voluptatibus.</p>
    <a href="https://carsalcedo.github.io/fcarreraportafolio/" target="_blank" class="btn btn-primary btn-lg">Developer</a>
</div>